# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Gemini folder (agar ye generated ya unnecessary hai)
SambaNova/
